[Unit]
Description=Alertmanager
Documentation=http://prometheus.io
Wants=network-online.target

[Service]
User=prometheus
Group=prometheus
Restart=on-failure
ExecReload=/bin/kill -HUP $MAINPID
WorkingDirectory=/var/lib/prometheus
ExecStart=/opt/alertmanager/alertmanager \
    --config.file /etc/alertmanager/alertmanager.yml \
    --storage.path /var/lib/alertmanager

TimeoutStopSec=20
UMask=0027

[Install]
WantedBy=multi-user.target
