[Unit]
Description=Blackbox exporter for Prometheus
Documentation=http://prometheus.io
Wants=network-online.target

[Service]
WorkingDirectory=/opt/blackbox_exporter
User=prometheus
Group=prometheus
Restart=on-failure
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/opt/blackbox_exporter/blackbox_exporter

TimeoutStopSec=20
UMask=0027

[Install]
WantedBy=multi-user.target
