[Unit]
Description=MySQL/MariaDB exporter for Prometheus
Documentation=http://prometheus.io
Wants=network-online.target

[Service]
User=mysql
Group=mysql
Restart=on-failure
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/opt/mysqld_exporter/mysqld_exporter --config.my-cnf=/etc/my.cnf
# Environment=DATA_SOURCE_NAME="mysql://root@localhost"

TimeoutStopSec=20
UMask=0027

[Install]
WantedBy=multi-user.target
