[Unit]
Description=OAuth2 Proxy for Prometheus
Documentation=https://github.com/oauth2-proxy/oauth2-proxy
Wants=network-online.target

[Service]
User=prometheus
Group=prometheus
Restart=on-failure
ExecStart=/usr/local/bin/oauth2-proxy \
  --provider github \
  --client-id 3748a3aaf80e4f9fa117 \
  --client-secret 14f1ea88c9514970f10b15211bd58a4005cf09de \
  --cookie-secret my-cookie-secret \
  --email-domain="*" \
  --github-org EditionsENI \
  --upstream http://localhost:9090

[Install]
WantedBy=multi-user.target
